#container {
    background-color: rgb(239, 177, 223);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container-body {
    width: 98%;
    display: flex;
}

#container-stats {
    width: 40%;
    display: flex;
}

#container-team {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-team  img {
    width: 120px;
    height: 120px;
}

#container-team-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container-text {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}