<div id="section3">
  <div id="container">
      <div>
        <h1>{{ title }}</h1>
      </div>
    
      <div id="container-body">
        <div *ngFor="let trophie of trophies_list" class="trophie">
          <div>
              <img src="{{ trophie.image }}" alt="" width="100px" height="170px" />
          </div>
          <div>
              <p>{{ trophie.name }}</p>
              <p class="trophie-number">{{ trophie.number }}</p>
          </div>
        </div>
      </div>
    </div>
    
</div>